<%- include('../layouts/_header') %>

<h1>パスワードリセット</h1>
<p>メールアドレスを入力してください</p>
<form method="post" action="/users/resetPassword">
  <input id="token" type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input type="email" name="email" required />
  <input type="submit" value="パスワードリセット" />
</form>

<%- include('../layouts/_footer') %>
